/* Global specifications */
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  overflow-y: scroll;
  background-image: url("main.jpg");
  background-color: whitesmoke;
  background-blend-mode: normal;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: left;

  font-family: "Lato", sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  display: grid;
  grid-template-columns: 15% 1fr 1fr 15%;
  grid-template-rows: 100px 80vh 80vh 80vh 80vh 40vh;
  grid-template-areas:
    "nav nav nav nav"
    ". header header ."
    " . section-a section-a . "
    " . section-b section-b . "
    " . section-c section-c . "
    "footer footer footer footer";
}

h1 {
  font-size: 4rem;
  line-height: normal;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 3rem;
}

p {
  font-size: 2.2rem;
}

a {
  font-size: 2.5rem;
  text-decoration: none;
  color: #333;
}
a:hover {
  background-color: none;
}

/* NAV -----------------------------------------------------------*/
#nav {
  grid-area: nav;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#site-logo {
  margin-left: 0px;
  display: inline-block;
}

#cornerLink {
  display: inline-block;
}

.buttons {
  height: 20px;
  width: 80px;

  margin: 40px;
  padding: 10px;
  text-decoration: none;
  border-radius: 4px;
}
.buttons:hover {
  background-color: #f9fafb;
}

#flag {
  height: 50px;
  width: 70px;
  margin-left: 10px;
}

/* HEADER ----------------------------------------------------*/
header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 350px;
  width: 800px;
  background-color: white;
  padding: 10%;
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.contact {
  background-color: skyblue;
  padding: 1%;
  border-radius: 10px;
}

.contact:hover {
  color: whitesmoke;
}

#bio {
  background-color: rgb(248, 249, 250);
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.2);
  width: 800px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-radius: 15px;
}

#profile-pic {
  height: 150px;
  width: 150px;
}

/* SECTION A */
#section-a {
  grid-area: section-a;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* background-color: #e9ecef ; */
  /* background-color: #f9fafb; */
}

#section-b {
  grid-area: section-b;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#section-c {
  grid-area: section-c;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.imgSection {
  display: flex;
  flex-direction: row;
}

/* CARDS!!!!!!! */
.card {
  height: 500px;
  width: 800px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  padding: 1em;
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
}

.show-on-scroll {
  opacity: 0.2;
  transform: translate(-5em) rotateZ(0deg);
  transition: transform 3s 0.25s cubic-bezier(0.5, 1, 0.3, 1),
    opacity 0.3s 0.25s ease-out;
  will-change: transform, opacity;
}

.show-on-scroll.is-visible {
  opacity: 1;
  transform: rotateZ(0deg);
}

img {
  height: 250px;
  width: 300px;
}

footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

#foot {
  height: 200px;
  width: 800px;
  background-color: rgb(248, 249, 250);
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.2);
  padding: 1em;
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  line-height: normal;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
*,
*:before,
*:after {
  box-sizing: border-box;
}

.slider {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.slider__nav {
  width: 12px;
  height: 12px;
  margin: 2rem 12px;
  border-radius: 50%;
  z-index: 10;
  outline: 6px solid #ccc;
  outline-offset: -6px;
  box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.slider__nav:checked {
  -webkit-animation: check 0.4s linear forwards;
  animation: check 0.4s linear forwards;
}
.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
  left: 0%;
}
.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
  left: -100%;
}
.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
  left: -200%;
}
.slider__nav:checked:nth-of-type(4) ~ .slider__inner {
  left: -300%;
}
.slider__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  -webkit-transition: left 0.4s;
  transition: left 0.4s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}
.slider__contents {
  height: 400;
  width: 800px;
  padding: 2rem;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.slider__image {
  font-size: 2.7rem;
}
.slider__caption {
  font-weight: 500;
  margin: 2rem 0 1rem;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}
.slider__txt {
  margin-bottom: 3rem;
  max-width: 600px;
}

@-webkit-keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

@keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

/* MEDIA QUERY ****************************************************************************************************************************************************************************************/
@media (max-width: 1000px) {
  body {
    overflow-y: scroll;
    background-image: url("main.jpg");
    background-color: whitesmoke;
    background-blend-mode: normal;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: left;

    font-family: "Lato", sans-serif;
    color: #333;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 15% 1fr 1fr 15%;
    grid-template-rows: 100px 80vh 80vh 80vh 80vh 40vh;
    grid-template-areas:
      "nav nav nav nav"
      ". header header ."
      " . section-a section-a . "
      " . section-b section-b . "
      " . section-c section-c . "
      "footer footer footer footer";
  }

  /* NAV -----------------------------------------------------------*/
  #nav {
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: whitesmoke; */
  }
  #site-logo {
    margin-left: 0px;
    background-color: (lightskyblue);
  }
  #cornerLink {
    font-size: medium;
  }

  #buttons {
  }

  .buttons {
    height: 5px;
    width: 20px;
    color: black;
    margin: 5px;
    padding: 5px;
    text-decoration: none;
    border-radius: 4px;
  }
  .buttons:hover {
    background-color: #f9fafb;
  }

  #flag {
    height: 50px;
    width: 70px;
    margin-left: 10px;
  }

  /* HEADER ----------------------------------------------------*/
  header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  #intro {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 800px;
    width: 400px;
    background-color: white;
    padding: 10%;
    border-radius: 15px;
    line-height: normal;
  }

  .contact {
    background-color: skyblue;
    padding: 1%;
    border-radius: 10px;
  }

  .contact:hover {
    color: whitesmoke;
  }

  #bio {
    background-color: rgb(248, 249, 250);
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.2);
    width: 400px;
    height: 800px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 15px;
  }

  #profile-pic {
    height: 150px;
    width: 150px;
  }

  /* SECTION A */
  #section-a {
    grid-area: section-a;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* background-color: #e9ecef ; */
    /* background-color: #f9fafb; */
  }

  #section-b {
    grid-area: section-b;
  }

  #section-c {
    grid-area: section-c;
  }

  .imgSection {
    display: flex;
    flex-direction: column;
  }

  /* CARDS!!!!!!! */
  .card {
    height: 600px;
    width: 400px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
  }

  .show-on-scroll {
    opacity: 0.2;
    transform: translate(-10em) rotateZ(0deg);
    transition: transform 3s 0.25s cubic-bezier(0.5, 1, 0.3, 1),
      opacity 0.3s 0.25s ease-out;
    will-change: transform, opacity;
  }

  .show-on-scroll.is-visible {
    opacity: 1;
    transform: rotateZ(0deg);
  }

  img {
    height: 200px;
    width: 250px;
  }

  footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }

  #foot {
    height: 400px;
    width: 400px;
    background-color: rgb(248, 249, 250);
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.2);
    padding: 1em;
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
  }
}
/* End of first media query */
